Skip to content
adrianhajdin/App.css
Created 2 years ago • Report abuse
Clone this repository at &lt;script src=&quot;https://gist.github.com/adrianhajdin/997a8cdf94234e889fa47be89a4759f1.js&quot;&gt;&lt;/script&gt;
<script src="https://gist.github.com/adrianhajdin/997a8cdf94234e889fa47be89a4759f1.js"></script>
Code
Revisions
1
Stars
309
Forks
123
Movie App
App.css
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}
App.js
import React, { useState, useEffect } from "react";

import MovieCard from "./MovieCard";
import SearchIcon from "./search.svg";
import "./App.css";

const API_URL = "http://www.omdbapi.com?apikey=b6003d8a";

const App = () => {
  const [searchTerm, setSearchTerm] = useState("");
  const [movies, setMovies] = useState([]);

  useEffect(() => {
    searchMovies("Batman");
  }, []);

  const searchMovies = async (title) => {
    const response = await fetch(`${API_URL}&s=${title}`);
    const data = await response.json();

    setMovies(data.Search);
  };

  return (
    <div className="app">
      <h1>MovieLand</h1>

      <div className="search">
        <input
          value={searchTerm}
          onChange={(e) => setSearchTerm(e.target.value)}
          placeholder="Search for movies"
        />
        <img
          src={SearchIcon}
          alt="search"
          onClick={() => searchMovies(searchTerm)}
        />
      </div>

      {movies?.length > 0 ? (
        <div className="container">
          {movies.map((movie) => (
            <MovieCard movie={movie} />
          ))}
        </div>
      ) : (
        <div className="empty">
          <h2>No movies found</h2>
        </div>
      )}
    </div>
  );
};

export default App;
MovieCard.jsx
import React from 'react';

const MovieCard = ({ movie: { imdbID, Year, Poster, Title, Type } }) => {
  return (
    <div className="movie" key={imdbID}>
      <div>
        <p>{Year}</p>
      </div>

      <div>
        <img src={Poster !== "N/A" ? Poster : "https://via.placeholder.com/400"} alt={Title} />
      </div>

      <div>
        <span>{Type}</span>
        <h3>{Title}</h3>
      </div>
    </div>
  );
}

export default MovieCard;
 
search.svg
Loading
Load earlier comments...
gitderekz commented on Feb 21
It might be quotation issue, don't write
<img src="{SearchIcon}" alt="search" />
instead remove double quotes from src="" and it shoult be like this
<img src={SearchIcon} alt="search" />

Eddiexxx commented on Mar 2
Can anyone tell the reason of API is not working in the console why????
Problems: Warning: ReactDOM.render is no longer supported in React 18. Use createRoot instead. Until you switch to the new API, your app will behave as if it's running React 17. Learn more: https://reactjs.org/link/switch-to-createroot printWarning @ react-dom.development.js:79 localhost/:1
Problem: Uncaught (in promise) TypeError: Failed to fetch at searchMovies (App.js:11:1) at App.js:18:1 at commitHookEffectListMount (react-dom.development.js:23139:1) at commitPassiveMountOnFiber (react-dom.development.js:24918:1) at commitPassiveMountEffects_complete (react-dom.development.js:24881:1)
Code : const searchMovies = async (title) => { const response = await fetch(${API_URL}&s=${title}); const data = await response.json();

    console.log(data.Search);
}

useEffect(() => {
    searchMovies('Spiderman');
}, []);
Can anyone tell the reason of API is not working in the console why????
Problems: Warning: ReactDOM.render is no longer supported in React 18. Use createRoot instead. Until you switch to the new API, your app will behave as if it's running React 17. Learn more: https://reactjs.org/link/switch-to-createroot printWarning @ react-dom.development.js:79 localhost/:1
Problem: Uncaught (in promise) TypeError: Failed to fetch at searchMovies (App.js:11:1) at App.js:18:1 at commitHookEffectListMount (react-dom.development.js:23139:1) at commitPassiveMountOnFiber (react-dom.development.js:24918:1) at commitPassiveMountEffects_complete (react-dom.development.js:24881:1)
Code : const searchMovies = async (title) => { const response = await fetch(${API_URL}&s=${title}); const data = await response.json();

    console.log(data.Search);
}

useEffect(() => {
    searchMovies('Spiderman');
}, []);
I meet the same problem and don't know how to solve it.

here's how I solved it:

// React 17 // import React from "react"; // import ReactDOM from "react-dom"; // import App from "./App";

// ReactDOM.render(, document.getElementById("root"));

// React 18: import React from "react"; import ReactDOM from "react-dom/client"; import App from "./App";

ReactDOM.createRoot(document.getElementById("root")).render();

So basically it updates from React 17 to 18 and uses the new API. I just kept the old one there commented out for reference.

Basically there's just those two lines that changes:

import ReactDOM from "react-dom/client";
ReactDOM.createRoot(document.getElementById("root")).render(<App />);
this solution fixed the react 18 error but still I can not console log the data from API

anasali321 commented on Mar 2 via email 
Check react 18 or 17. The path or version check it. because if you're
written react 17 in react 18 version thus api is not working
…
shanjairahul commented on Mar 18
the search icon is not showing bringing out an error code

'SearchIcon' is not defined no-undef

create a new svg file and copy the search icon's code and paste there....now import that in your main component..it ll work

anasali321 commented on Mar 18 via email 
Check the icon api or match whole code ones time
…
Bhavyansh-prajapati-0805 commented on Mar 21
Hey all the setup is Cool!

Ok45sg commented on Mar 23
Hi folks,

For those who are struggling to get the code for 'search.svg,' simply click the "Display the source blob" button shown below.

image

Thanks, it works. Upon clicking that icon, it went up to app.jss and scrolled back to look at the search.svg, lo and behold, the code appeared there. I tried to paste it here:
search

MPNKOSI commented on Apr 1
search.svg is there just click this "<>" it wll show thats how i got it

Sayan447 commented on Apr 5
Can anyone provide the readme description?

JuanCollince commented on Apr 23
Folks initially the codes worked well on my end but now nothing to display its dissapointing

herre0 commented on May 3
<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M29.8594 29.8594L39.4219 39.4219" stroke="#D88769" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"/> <path d="M17.9062 33.0469C26.2682 33.0469 33.0469 26.2682 33.0469 17.9062C33.0469 9.54431 26.2682 2.76562 17.9062 2.76562C9.54431 2.76562 2.76562 9.54431 2.76562 17.9062C2.76562 26.2682 9.54431 33.0469 17.9062 33.0469Z" stroke="#D88769" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>

Captain-Per0xide commented on May 4
CSS is not Working as display in the Video

pola2555 commented on May 22 • 
if you want to display more then 10 movies you can adjust the function searchMovies to this one
const searchMovies = async (search, pages = 100) => {
    let allMovies = [];
    for (let page = 1; page <= pages; page++) {
      const response = await fetch(`${API_URL}&s=${search}&page=${page}`);
      const data = await response.json();
      if (data.Search) {
        allMovies = allMovies.concat(data.Search);
      } else {
        break; // Stop if no more results
      }
    }
    setMovies(allMovies);
  }
niharika1102 commented on May 24 • 
I am not able to fetch data from the movie search results. It tells me, can't read properties of null. Can someone help me out with this?

lespanola commented on May 26
Hi folks,

For those who are struggling to get the code for 'search.svg,' simply click the "Display the source blob" button shown below.

image

I tried this and it worked. Thank you so much for your help. Awesome!

tawshif-a-devo commented on May 26
when i am importing moviecard on app.js it showing this eror :
Already included file name 'c:/Users/Tech aarohi/Desktop/my react pro/my-react-proj/src/MovieCard.jsx' differs from file name 'c:/Users/Tech aarohi/Desktop/my react pro/my-react-proj/src/Moviecard.jsx' only in casing.
The file is in the program because:
Imported via '../src/MovieCard' from file 'c:/Users/Tech aarohi/Desktop/my react pro/my-react-proj/src/App.jsx'
Root file specified for compilation

qa3emnik commented on Jun 3
I am not able to fetch data from the movie search results. It tells me, can't read properties of null. Can someone help me out with this?

can you share a shot of the screen.

qa3emnik commented on Jun 3
when i am importing moviecard on app.js it showing this eror : Already included file name 'c:/Users/Tech aarohi/Desktop/my react pro/my-react-proj/src/MovieCard.jsx' differs from file name 'c:/Users/Tech aarohi/Desktop/my react pro/my-react-proj/src/Moviecard.jsx' only in casing. The file is in the program because: Imported via '../src/MovieCard' from file 'c:/Users/Tech aarohi/Desktop/my react pro/my-react-proj/src/App.jsx' Root file specified for compilation

Is it solved?

MPNKOSI commented on Jun 3 via email 
As I tried this code,  failed a couple of times until I coped the whole
script & it worked , I was so mad, I.felt like I didnt write this code
myself, the solution is that, copy everything & paste it, to your pages, it
will work.
…
qa3emnik commented on Jun 3
If you know how to write it, create new app and start code yourself. without looking at the source code, It might take some hours, but you will be resolve it. I'm sure, because I know that feeling.

MPNKOSI commented on Jun 3 via email 
I have learned how to code it, I will focus on it some time later on in the
year, for now, im busy building a ecommerce website.   Anyway did you get
the solution?
…
dawudab commented on Jun 11
I've been trying to figure this out, everything was going good until I started adding the MovieCard. Now it seems like nothing is working. I'm not getting any errors on VSC, just when I try to open to open the website to preview. After failing i've tried to just copy the code and its still not working. Back and front from here to chatgpt and its still not working, this is the error im getting:

ERROR
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of App.
Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of App.
at createFiberFromTypeAndProps (http://localhost:3000/static/js/bundle.js:30445:21)
at createFiberFromElement (http://localhost:3000/static/js/bundle.js:30466:19)
at updateElement (http://localhost:3000/static/js/bundle.js:17494:23)
at updateSlot (http://localhost:3000/static/js/bundle.js:17587:26)
at reconcileChildrenArray (http://localhost:3000/static/js/bundle.js:17733:26)
at reconcileChildFibers (http://localhost:3000/static/js/bundle.js:18120:20)
at reconcileChildren (http://localhost:3000/static/js/bundle.js:22547:32)
at updateHostComponent (http://localhost:3000/static/js/bundle.js:23191:7)
at beginWork (http://localhost:3000/static/js/bundle.js:24643:18)
at HTMLUnknownElement.callCallback (http://localhost:3000/static/js/bundle.js:9601:18)

I'm just really lost and don't understand anything.

zakariem commented on Jul 28 • 
the search icon code

amannesiha commented on Jul 28
the search icon code

amannesiha commented on Jul 28
Create a file name "search.svg" and copy ,paste the code above

anasali321 commented on Aug 12 via email 
Module not found means file doesn't exist. Ensure the file name should be
correct and in should be in folder. I think you'll try it and past your
code to gpt and ask him. Make sure you'll resolve your error but don't give
up.
…
Divyaa01 commented on Aug 27
Why it is movies?.length . why not movies.length?

If you use movies.length? it might give you an error I guess. While chaining you are supposed to write it like: 'object?.property'.

Dharmaajay2222 commented 3 weeks ago
CSS is not Working as display in the Video

yes i also hadd that problem

ojrandy commented last week
import React from "react";
import ReactDOM from "react-dom/client";

import App from "./App";
import "./index.css";

const root = ReactDOM.createRoot(document.getElementById("root"));
root.render(
// <React.StrictMode>

// </React.StrictMode>
);

For the Newer version of React, you need to use the Strict Mode. But with the strict Mode, Console.log will give to the same values

ojrandy commented last week
import React from "react"; import ReactDOM from "react-dom/client";

import App from "./App"; import "./index.css";

const root = ReactDOM.createRoot(document.getElementById("root")); root.render( // <React.StrictMode> // </React.StrictMode> );

For the Newer version of React, you need to use the Strict Mode. But with the strict Mode, Console.log will give to the same values

import React from "react";
import ReactDOM from "react-dom/client";

import App from "./App";
import "./index.css";

const root = ReactDOM.createRoot(document.getElementById("root"));
root.render(
// <React.StrictMode>

// </React.StrictMode>
);

For the Newer version of React, you need to use the Strict Mode. But with the strict Mode, Console.log will give to the same values

Comment
 
Leave a comment
 
Footer
© 2024 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact
Manage cookies
Do not share my personal information
